<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hospital management System</title>
</head>
<body>
{% %}
<h2>Reg number and name</h2>
<ol>
    <li>Emmanuel Victor Babatunde  <br>  Cst/18/ift/00116</li>
    <li>Daniel Essang Michael   <br>      Cst/18/ift/00137</li>
    <li>Abdulsamad Salihu Onoruoiza <br>  Cst/18/ift/00103</li>
    <li>Margaret Musa Imibido    <br>     Cst/18/ift/00130</li>
    <li>Gabriel Onuche Noah <br>          Cst/18/ift/00143</li>
</ol>
</body>
</html>